.primary {
  background: #ffb703;
  border: none;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
}

.outline {
  background: transparent;
  border: 1px solid #000;
  padding: 10px 16px;
  border-radius: 24px;
}
