.card {
  position: relative;
  width: 320px;
  height: 420px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;

  transform: scale(1);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.content {
  position: absolute;
  inset: 0;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    max-width: 70%;
    line-height: 1.2;
  }
}

.btn {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 26px;
  border: #FCFCFC solid 2px;
  border-radius: 100px;
  color: #FCFCFC;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover{
    background-color: #FCFCFC;
    width: 60%;
    justify-content: center;
  }
}