.card {
  width: 220px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.avatar {
  width: 296px;
  height: 270px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 12px;
}

h4 {
  font-size: 16px;
  margin-bottom: 4px;
}

span {
  font-size: 12px;
  color: #777;
}

.socials {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;

  svg {
    font-size: 18px;
    cursor: pointer;
    color: #444;

    &:hover {
      color: #000;
    }
  }
}
