.main_container{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    p{
        font-size: 18px;
        color: #646464;
    }
    h2{
        font-size:  32px;
        color: #191716;
        font-weight: 600;
    }
}

.img{
    width: 515px;
    height: 547px;
    border-radius: 18px;
}

.statistic_container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.statistic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
    .icon{
        color: #FFBA18;
        font-size: 64px;
        font-weight: 600;
    }
    .text{
        color: #323232;
        font-size: 18px;
        font-weight: 600;
    }
}