@use '../../styles/abstracts/mixins' as *;

.card {
  border-radius: 16px;
  padding: 32px;
  background: #fff;
  border: 1px solid #eaeaea;
}

.text {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: #6b6b6b;
  max-width: 800px;
}

.actions {
  display: flex;
  gap: 12px;
}

.primary {
  background: #2b2b2b;
  color: #fff;
  border-radius: 24px;
  padding: 10px 22px;
  border: none;
}

.secondary {
  border-radius: 24px;
  padding: 10px 22px;
  background: transparent;
  border: 1px solid #000;
}
.card {
  border-radius: 16px;
  padding: 32px;
  background: #fff;
  border: 1px solid #eaeaea;
}

.text {
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 14px;
  color: #6b6b6b;
  max-width: 800px;
}

.actions {
  display: flex;
  gap: 12px;
}

.primary {
  @include explore-btn
}

.secondary {
  @include more-btn
}
