@mixin explore-btn{
    color: #FCFCFC;
    font-size: 16px;
    background-color:#323232;
    padding: 17px 48px;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        background-color: #191716;
        color: #FCFCFC;
        scale: 1.1;
    }
}
@mixin about-btn{
    color: #323232;
    font-size: 16px;
    padding: 17px 81px;
    border: #323232 2px solid;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        color: #191716;
        scale: 1.1;
    }
}
@mixin more-btn{
    color: #323232;
    font-size: 16px;
    padding: 12px 58px;
    border: #323232 2px solid;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        color: #191716;
        scale: 1.1;
    }
}