@mixin explore-btn{
    color: #FCFCFC;
    font-size: 18px;
    background-color:#323232;
    padding: 12px 52px;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        background-color: #191716;
        color: #FCFCFC;
        scale: 1.1;
    }
}
@mixin about-btn{
    color: #323232;
    font-size: 18px;
    padding: 12px 81px;
    border: #323232 2px solid;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        color: #191716;
        scale: 1.1;
    }
}
@mixin more-btn{
    color: #323232;
    font-size: 18px;
    padding: 12px 58px;
    border: #323232 2px solid;
    border-radius: 100px;
    transition: all 0.5s ease;
    &:hover{
        color: #191716;
        scale: 1.1;
    }
}

@mixin text-desc{
    span{
        color: #727272;
        font-size: 18px;
        font-weight: 600;
    }
    h2{
        font-size: 36px;
        font-weight: 600;
        color: #191716;
    }
    p{
        display: inline;
        font-weight: 400;
        font-size: 20px;
        color: #535862;
    }
}