@use '../../styles/abstracts/mixins' as *;

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
};

.main{
    flex: 1;
    min-height: 760px;
    padding: 45px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 128px;
    width: 100%;
    max-width: 1600px; 
    background-color: #FCFCFC;
};

.text_descriptions{
    @include text-desc
}