.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
};

.main{
    flex: 1;
    min-height: 760px;
    padding: 45px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px; 
};