.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.card {
  border: 2px solid #ffc107;
  border-radius: 16px;
  padding: 24px;
  max-width: 330px;
  height: 344px;
  background: #fff;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  height: 100%;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  }
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff3cd;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  all: unset;
  margin: 20px 0 12px;
  font-size: 38px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: #535862;
  line-height: 1.6;
}

.link {
  margin-top: auto;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  font-weight: 500;
}
