@use '../../styles/abstracts/mixins' as *;

.heroContainer {
}

.heroContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.heroTextSection {
  max-width: 580px;
  font-family: sans-serif; 
}

.badge {
  display: inline-block;
  color: #F1AE10;
  background: #FFF3D8;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 24px;
}

.mainHeading {
  font-size: 38px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #333;
}

.highlight {
  color: #ffd36a;
  font-size: 40px ;
  margin: 0px 10px 0px 0px;
}

.subText {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
  line-height: 1.4;
}

.actions {
  display: flex;
  gap: 16px;
}


.primaryBtn {
@include explore-btn
}

.secondaryBtn {
@include about-btn
}

.heroImageSection {
  width: 400px;
  height: 550px;
  background-image: url('../../assets/hero-main.png');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
