.form {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  gap: 14px;
  h3{
    font-size: 28px;
    font-weight: 600;
    color: #191716;
  }
  p {
  font-size: 16px;
  color: #323232;
  margin-bottom: 12px;
}
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #191716;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input,
textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
}

textarea {
  resize: none;
  min-height: 90px;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
