.form {
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.checkbox {
  font-size: 12px;
}
