.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
};

.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.right_container{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}