.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 50%;
  gap: 32px;
  width: 100%;
}

.leftCard,
.rightCard {
  background: #ffffff;
  border-radius: 24px;
  padding: 48px;
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.06);
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;

  h3 {
    font-size: 28px;
    font-weight: 600;
    color: #111827;
  }
  p{
    color: #646464;
    font-size: 16px;
  }
}

.caption {
  font-size: 16px;
  color: #646464;
  margin-bottom: 16px;
  max-width: 280px;
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
  div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #323232;
  }
}

.time{
    font-size: 20px;
    color: #555454;
}

.days{
    font-size: 18px;
    color: #282828;
    font-weight: 600;
  }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding-top: 48px;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .label {
    font-size: 18px;
    color: #191716;
    font-weight: 600;
  }

  a {
    font-size: 14px;
    color: #323232;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}