.main_container{
    display: flex;
    flex-direction: column
};

.upper_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px
};

.footer_navbar{
    display: flex;
    flex-direction: column;
    gap: 7px;
};

.lower_container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
};

.icons_container{
    display: flex;
    gap: 10px;
}