@use '../../styles/abstracts/mixins' as *;
.wrapper {
  border: 2px dashed #ffb703;
  border-radius: 16px;
  padding: 12px;
  max-width: 360px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
}

h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 20px;
}

button {
  border: 1px solid #000;
  border-radius: 24px;
  padding: 10px 20px;
  background: transparent;
  cursor: pointer;
}
.wrapper {
  border: 2px dashed #ffb703;
  border-radius: 16px;
  padding: 12px;
  max-width: 360px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
}

h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 20px;
}

button {
    @include more-btn
}
