.main_container{
    background-color: #FAFAFA;
    border-radius: 20px;
    min-height: 800px;
    padding: 45px 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}
.title_container{
    font-size: 26px;
    font-weight: 600;   
}

p{
    color: #535862;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
}

.form-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  max-width: 95%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .progress {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    span {
      font-size: 0.9rem;
      color: #555;
    }

    .progress-bar {
      background: #eee;
      height: 6px;
      border-radius: 3px;
      width: 100%;

      .progress-fill {
        background: #ffc107;
        height: 6px;
        border-radius: 3px;
        transition: width 0.3s ease;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 0.95rem;
    color: #777;
    margin-bottom: 1rem;
  }

  input, select {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    width: 100%;
  }

  .btn {
    padding: 0.8rem;
    background: #ffc107;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.2s;

    &:hover {
      opacity: 0.9;
    }
  }
}

