.main_con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap:32px;
    div{
        display: flex;
        justify-content: space-between;
        gap: 48px;
    span{
        display: flex;
        align-items:
        center; 
        justify-content: center; 
        width: 100px; 
        height: 100px; 
        font-size: 48px; 
        font-weight: bold; 
        color: #FFBA18; 
        border-radius: 50%; 
        background: radial-gradient(circle, #fcdc90 0%, #FFE6B0 40%, #FDF6E3 100%); box-shadow: 0 0 8px rgba(255, 186, 24, 0.3); flex-shrink: 0;
    }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;
            h2{
                font-size: 28px;
            }
            p{
                width: 60%;
                font-size: 16px;
                color: #323232;
            }
        }
    }
}